<div class="container p-4">
    <h1>Admin Pannel</h1>
    <h2>Sign Up</h2>
    <div class="mb-3">
        <label for="username" class="form-label">User Name</label>
        <input [(ngModel)]="user_name" type="text" class="form-control" id="username" placeholder="User name here">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input [(ngModel)]="password" type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <button (click)="signup()" class="btn btn-primary">Sign Up</button>
    <div *ngIf="signupStatus" [style.display]="showMessage" [class.success]="signupStatus">Sign up successful. Please log in <a routerLink="/login">here</a></div>
    <div *ngIf="!signupStatus" [style.display]="showMessage" [class.error]="!signupStatus">Sorry, Something went wrong. Server responded with {{errorMessage.sqlMessage}}
    </div>
</div>