a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #4d77ba;
}

.apparel-item {
  height: 500px;
}
.apparel-item img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.apparel-item-title {
  font-size: 24px;
}
.apparel-item-price {
  font-weight: bold;
  font-style: italic;
}
.apparel-btn {
  width: 30%;
  height: 50px;
  color: #fff;
  background-color: #4d77ba;
  border: none;
  border-radius: 10px;
}
.apparel-btn:hover {
  background-color: #314b75;
}
.instock {
  color: green;
}
.outofstock {
  color: red;
}
