<main>
  <section id="product__top">
    <h3 class="products__header">BEST SELLERS</h3>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 product_container" *ngFor="let product of products">
        <div class="product_carousel">
          <div id="product_carouselBloc" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active product_image">
                <img [src]="product.product_image1" class="d-block w-100" [alt]="product.product_name">
              </div>
              <div class="carousel-item product_image">
                <img [src]="product.product_image2" class="d-block w-100" [alt]="product.product_name">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#product_carouselBloc"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#product_carouselBloc"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="product__info">
          <p class="product__name">{{product.product_name}}</p>
          <p class="product__describe">{{product.product_describe}}</p>
          <p class="product__price">${{product.product_price}}</p>
          <div class="product_stockbloc">
            <availability [inStock]="checkStock(product.product_stock)"></availability>
            <p>{{product.product_stock}} Available</p>
          </div>
          <div class="product_cartbtn">
            <button>Add to Bag</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <div class="product__back">
    <a href="#product__top"><i class="fas fa-angle-double-up"></i></a>
  </div> -->
</main>