.header-heroimg {
  text-align: center;
  position: relative;
}
.header-heroimg img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.header-heroimg button,
.header-heroimg h1 {
  position: absolute;
}
.header-heroimg h1 {
  top: 30%;
  left: 10%;
  font-size: 64px;
  font-weight: bold;
  color: #fff;
}
.header-heroimg button {
  top: 60%;
  left: 10%;
}
.header-ads {
  height: 20px;
  background-color: #f2b705;
}
.header-ads.bottom {
  background-color: #4d77ba;
}
@media (max-width: 375px) {
  .header-heroimg {
    height: 500px;
  }
  .header-heroimg img {
    object-fit: cover;
  }
  .header-heroimg h1 {
    font-size: 32px;
  }
}
